.slick-slide {
  margin: 0 5px !important;
}

.slick-list {
  margin: 0 -5px !important;
}

@media screen and (max-width: 480px) {
  .slick-slide {
    margin: 0 3px 0 8px !important;
    width: 338px !important;

  }
}
